@import url("https://fonts.cdnfonts.com/css/poppins");

.post_detailDiv {
    box-shadow: 5px 0 20px 2px rgb(0 0 0 / 50%);
    background: #262a2b;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
    padding: 5px;
    overflow: hidden;

    &:hover .post_image {
        transform: scale(1.5);
        transition: transform 0.7s;
        filter: opacity(0.5) drop-shadow(0 0 #252525);     
    }

    &:hover .info_container {
      display: flex !important;
    }

  
  .image_container {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .post_image {
      width: 100%;
    }
    .info_container {
      position: absolute;
      display: none;
      flex-direction: column;
      text-align: center;
      max-width: 146px;
      .post_createdBy {
        font-family: "Poppins", sans-serif;
        color: #fff;
        font-size: 15px;
      }
      .post_author {
        margin-bottom: 10px;
        color: white;
        font-weight: bold;
      }
      .post_tags {
        display: flex;
        flex-wrap: wrap;
        border-radius: 5px;
        display: inline-flex;
        align-items: stretch;
        margin: 2px;
        .post_tag {
         margin-right: 5px;
         margin-bottom: 2px; 
         color: #fff;
         background-color: #bf26c1;
         padding: 1px 4px;
         font-size: 11px;
         font-weight: 500;
         text-transform: capitalize;
         font-family: "Poppins", sans-serif;
       }
      }
      .view_post_link {
        margin-top: 20px;
        text-align: center;
        padding: 10px;
        background-color: #bf26c1;
        color: white;
        font-weight: 900;
        transition: all 150ms linear;
        &:hover {
          background: #a529a5;
          color: rgb(230, 228, 228);
        }
      }
    }
  }
  .post_title {
    color: #2fb2ef;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    gap: 3px;
    align-items: center;
    justify-self: center;
    .post_title:hover {
      text-decoration: underline;
    }
    .language {
      width: 20px;
    }
  }
  .spanish_post {
    color: #ef2f2f !important;
  }
}



