@import url("https://fonts.cdnfonts.com/css/poppins");

.post_detailDiv {
  box-shadow: 5px 0 20px 2px rgba(0, 0, 0, 0.5);
  background: #262a2b;
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;
  animation: myAnim 1s;

  &:hover .post_title {
    max-height: 100%;
  }

  &:hover .post_image {
    transform: scale(1.5);
    transition: transform 0.7s;
    filter: opacity(0.5) drop-shadow(0 0 #252525);
  }

  &:hover .info_container {
    display: flex !important;
  }


  .image_container {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .post_image {
      width: 100%;
    }

    .info_container {
      position: absolute;
      display: none;
      flex-direction: column;
      text-align: center;
      max-width: 146px;

      .post_createdBy {
        font-family: "Poppins", sans-serif;
        color: #fff;
        font-size: 15px;
      }

      .post_author {
        margin-bottom: 10px;
        color: white;
        font-weight: bold;
      }

      .post_tags {
        display: flex;
        flex-wrap: wrap;
        border-radius: 5px;
        display: inline-flex;
        margin: 2px;
        max-height: 80px;
        overflow-y: scroll;
        justify-content: center;

      &::-webkit-scrollbar {
          width: 1px;
      }
      
      
      &:hover::-webkit-scrollbar-track {
          background-color: #d8d8d8;
      }
      
      &.text-ui-light:hover::-webkit-scrollbar-track {
          background-color: #3f3f3f;
      }

      &:hover::-webkit-scrollbar-thumb {
        background: #888;
    }
    

        .post_tag {
          margin-right: 5px;
          margin-bottom: 2px;
          color: #fff;
          background-color: #bf26c1;
          padding: 1px 4px;
          font-size: 11px;
          font-weight: 500;
          text-transform: capitalize;
          font-family: "Poppins", sans-serif;
        }
      }

      .view_post_link {
        margin-top: 20px;
        text-align: center;
        padding: 10px;
        background-color: #bf26c1;
        color: white;
        font-weight: 900;
        transition: all 150ms linear;

        &:hover {
          background: #a529a5;
          color: rgb(230, 228, 228);
        }
      }
    }
  }

    .spanish_post {
      color: #ef2f2f !important;
    }
  
}

@keyframes myAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.post_title {
  color: #2fb2ef;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  display: flex;
  gap: 3px;
  align-items: baseline;
  max-height: 90px;
  background-color: #262a2b;
  overflow: hidden;

  z-index: 100;

  padding: 0 5px;



  &:hover {
    text-decoration: underline;
  }

  .language {
    width: 20px;
  }
}

.post_title01 {
  color: #2fb2ef;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  display: flex;
  gap: 3px;
  align-items: baseline;
  max-height: 90px;
  background-color: #262a2b;
  overflow: hidden;

  .language {
    width: 20px;
  }
}

.test01 {
  position: relative;
  padding: 0 5px;
}

.test02 {
  position: absolute;
    top: 0;
  left: 0;
  clip-path: inset(0);
  z-index: 100;
  width: 100%;
}

.post_padding {
  padding: 5px 5px 0 5px;
}