.post_detail {
  display: flex;
  flex-direction: column;
  flex: 25%;
  padding: 10px;
  justify-content: space-between;
}

.post_detail .image_container {
  padding-bottom: 56.25%;
  position: relative;
}

.image {
  position: absolute;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.fill {
  object-fit: fill !important;
}

.post_detail h2 {
  margin-bottom: 0.4em;
}

/* Rest of the styles */
